{% load static %}

{% block head_content %}
{% endblock %}

{% block main_content %}
{#    <img src="{% static 'myapp1/img/{{ image_file }}' %}" {{ image_style }} alt="">#}
    <h2>Статистика по городам</h2>
{#    <div>{{ statistics_by_cities }}</div>#}
    <table>
        <colgroup>
            <col style="width: 25%">
            <col style="width: 25%">
            <col style="width: 25%">
            <col style="width: 25%">
        </colgroup>
        <tr>
            {% for header in header_city %}
                <th>
                    {{ header }}
                </th>
            {% endfor %}
        </tr>
        {% for city in statistics_by_cities %}
        <tr>
            <td>
                {{ city.area_name }}
            </td>
            <td>
                {{ city.total_count }}
            </td>
            <td>
                {{ city.avg_salary|floatformat:"0" }}
            </td>
            <td>
                {{ city.prof_count }}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
