{#{% extends 'layout.html' %}#}
{% load static %}
{##}
{#{% block head_content %}#}
{#{% endblock %}#}
{##}
{#{% block main_content %}#}
{#    <img src="{% static 'myapp1/img/{{ image_file }}' %}" {{ image_style }} alt="">#}
{#    <h2 {{ h2_style }}>Статистика по городам</h2>#}
{#    <table {{ table_style }} border="0" cellspacing="0" cellpadding="0">#}
{#        <colgroup>#}
{#            <col style="width: 20%">#}
{#            <col style="width: 20%">#}
{#            <col style="width: 7%">#}
{#            <col style="width: 20%">#}
{#            <col style="width: 20%">#}
{#        </colgroup>#}
{#        <tr>#}
{#            {% for header in header_city %}#}
{#            <th {% if not header %} {{ cell_style_none }} {% else %} {{ cell_style }} {% endif %}>#}
{#                {{ header }}#}
{#            </th>#}
{#            {% endfor %}#}
{#        </tr>#}
{#        {% for index, (salary_city, salary, ratio_city, ratio) in city_data.items() %}#}
{#        <tr>#}
{#            <td {{ cell_style }}>#}
{#                {{ salary_city }}#}
{#            </td>#}
{#            <td {{ cell_style }}>#}
{#                {{ salary }}#}
{#            </td>#}
{#            <td></td>#}
{#            <td {{ cell_style }}>#}
{#                {{ ratio_city }}#}
{#            </td>#}
{#            <td {{ cell_style }}>#}
{#                {{ ratio }}#}
{#            </td>#}
{#        </tr>#}
{#        {% endfor %}#}
{#    </table>#}
{#{% endblock %}#}
