{% load static %}

{#{% block head_content %}#}
{#{% endblock %}#}

{% block main_content %}
    <h1>Аналитика зарплат по годам для профессии {{ profession_name }}</h1>
{#    <img src="{% static 'myapp1/img/graphs/years_graph.png' %}" alt="">#}
    <h2>Статистика по годам</h2>
    <table>
        <colgroup>
            <col style="width: 10%">
            <col style="width: 15%">
            <col style="width: 30%">
            <col style="width: 15%">
            <col style="width: 30%">
        </colgroup>
        <tr>
            {% for header in header_year %}
                <th>
                    {{ header }}
                </th>
            {% endfor %}
        </tr>
{#        <tr>#}
{#            {{ statistics_by_years }}#}
{#        </tr>#}
        {% for year in statistics_by_years %}
            <tr>
                <td>
                    {{ year.published_at }}
                </td>
                <td>
                    {{ year.avg_salary|floatformat:'0' }}
                </td>
                <td>
                    {% if year.prof_salary %}
                        {{ year.prof_salary|floatformat:'0' }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                <td>
                    {{ year.total_count }}
                </td>
                <td>
                    {{ year.prof_count }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
